## Accounts Receivable

In [3]:
import pandas as pd
import matplotlib as plt
import numpy as np
import json

In [6]:
import os
print(os.getcwd())

c:\Users\User\Documents\Proyecto DataScience\AccountsReceivable\Accounts_Receivable_IBM

In [7]:
df_finance_AR = pd.read_csv("C:/Users/User/Documents/Proyecto DataScience/AccountsReceivable/Finance-IBM-Accounts-Receivable.csv")

In [8]:
df_finance_AR.shape

(2466, 12)

2,466 filas y 12 columnas.

In [11]:
# primeras lineas
df_finance_AR.head(5)

,countryCode,customerID,PaperlessDate,invoiceNumber,InvoiceDate,DueDate,InvoiceAmount,Disputed,SettledDate,PaperlessBill,DaysToSettle,DaysLate
0,391,0379-NEVHP,4/6/2013,611365,1/2/2013,2/1/2013,55.94,No,1/15/2013,Paper,13,0
1,406,8976-AMJEO,3/3/2012,7900770,1/26/2013,2/25/2013,61.74,Yes,3/3/2013,Electronic,36,6
2,391,2820-XGXSB,1/26/2012,9231909,7/3/2013,8/2/2013,65.88,No,7/8/2013,Electronic,5,0
3,406,9322-YCTQO,4/6/2012,9888306,2/10/2013,3/12/2013,105.92,No,3/17/2013,Electronic,35,5
4,818,6627-ELFBK,11/26/2012,15752855,10/25/2012,11/24/2012,72.27,Yes,11/28/2012,Paper,34,4

In [13]:
# Últimas lineas
df_finance_AR.tail(5)

,countryCode,customerID,PaperlessDate,invoiceNumber,InvoiceDate,DueDate,InvoiceAmount,Disputed,SettledDate,PaperlessBill,DaysToSettle,DaysLate
2461,391,6708-DPYTF,8/2/2012,9982796720,10/18/2013,11/17/2013,79.61,No,12/1/2013,Electronic,44,14
2462,391,9841-XLGBV,1/3/2013,9983237240,9/19/2012,10/19/2012,38.25,No,10/13/2012,Paper,24,0
2463,770,7856-ODQFO,8/5/2012,9986249860,7/2/2012,8/1/2012,67.59,No,7/27/2012,Paper,25,0
2464,770,7050-KQLDO,9/29/2012,9989225541,4/27/2012,5/27/2012,53.16,No,5/18/2012,Paper,21,0
2465,406,9758-AIEIK,4/23/2012,9990243864,7/4/2013,8/3/2013,68.66,No,7/18/2013,Electronic,14,0

In [14]:
df_finance_AR.dtypes

countryCode        int64
customerID        object
PaperlessDate     object
invoiceNumber      int64
InvoiceDate       object
DueDate           object
InvoiceAmount    float64
Disputed          object
SettledDate       object
PaperlessBill     object
DaysToSettle       int64
DaysLate           int64
dtype: object

In [16]:
df_finance_AR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   countryCode    2466 non-null   int64
 1   customerID     2466 non-null   object
 2   PaperlessDate  2466 non-null   object
 3   invoiceNumber  2466 non-null   int64
 4   InvoiceDate    2466 non-null   object
 5   DueDate        2466 non-null   object
 6   InvoiceAmount  2466 non-null   float64
 7   Disputed       2466 non-null   object
 8   SettledDate    2466 non-null   object
 9   PaperlessBill  2466 non-null   object
 10  DaysToSettle   2466 non-null   int64
 11  DaysLate       2466 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 231.3+ KB